/* Navbar Section*/
.navbar {
  background-color: #0d6efd;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-img img {
  width: 370px;
  height: 370px;
  object-fit: cover;
  border-radius: 50%;
}
/* Hero section */
.hero-text {
  margin-top: 30px;
}
.btn {
  background-color: #0a58ca;
  padding: 20px;
  border-radius: 50px;
}
.btn:hover {
  background-color: #084298;
}
/* headings */
.headings {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Skills */
/* Erfahrung & Ausbildung */
/* Meine Projekte */
/* Kontakt */
